{% extends 'parseapi/base.html'%}
{% block title %}INDEX{% endblock %}

{% block body %}
	<!-- INCLUDING JQUERY-->
	<script src="https://code.jquery.com/jquery-3.5.1.js">
	</script>

	<!-- CSS FOR STYLING THE PAGE -->
	<style>
		table {
			margin: 0 auto;
			font-size: large;
			border: 1px solid black;
		}

		h1 {
			text-align: center;
			color: #006600;
			font-size: xx-large;
			font-family: 'Gill Sans',
				'Gill Sans MT', ' Calibri',
				'Trebuchet MS', 'sans-serif';
		}

		td {
			background-color: #E4F5D4;
			border: 1px solid black;
		}

		th,
		td {
			font-weight: bold;
			border: 1px solid black;
			padding: 10px;
			text-align: center;
		}

		td {
			font-weight: lighter;
		}
	</style>



	<section>
		<h1>Items</h1>

		<!-- TABLE CONSTRUCTION-->
		<table id='table'>
			<!-- HEADING FORMATION -->
			<tr>
				<th><b>SubCategory</b></th>
				<th><b>Title</b></th>
				<th><b>Price</b></th>
				<th><b>Popularity</b></th>
			</tr>
			{% for p in context %}
			<tr>
				<th>{{p.x}}</th>
				<th>{{p.y}}</th>
				<th>{{p.z}}</th>
				<th>{{p.za}}</th>
			</tr>
			{% endfor %}
	</section>

{% endblock body %}

